<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- Connection Pool(DataSource) 설정 -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> <!-- data source 구현객체 -->
		<property name="driverClass" value="oracle.jdbc.OracleDriver"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.3.151:1521:orcl"></property>
		<property name="user" value="iotuser"></property>
		<property name="password" value="iot12345"></property>
		<property name="maxPoolSize" value="1"></property>
		<property name="initialPoolSize" value="1"></property>
		<property name="acquireIncrement" value="1"></property>
		<property name="minPoolSize" value="1"></property>
	</bean>
	<!-- jdbcTemplate 설정 -->
	<bean name="jdbcTemplate"
			class="org.springframework.jdbc.core.JdbcTemplate">
			<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- MyBatis 설정 -->
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="/WEB-INF/mybatis/*.xml"></property>
	</bean>
	<bean name="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
	<!-- Transaction 설정 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- @Transactional 어노테이션을 사용가능하게 해준다. -->
	<tx:annotation-driven/>

</beans>
