#vbox1{
    -fx-border-color: red green blue yellow;
    -fx-border-width: 1px;
}
#vbox2{
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
}
#vbox3{
    -fx-border-insets: 0, 10, 20;
    -fx-border-color: red, green, blue;
}
#vbox4{
    -fx-border-color: gray black black gray;
    -fx-border-width: 1 3 3 1;
}
#vbox5{
    -fx-border-insets: 0, 10, 20;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(5,2,5,1), dotted, dashed;
}